/Classroom
/先行研究
/2022.lnk
/2023.lnk
/zemi_2th.lnk
/emoco.lnk
/2024.lnk
/2025.lnk
/進捗報告
/学会
/合宿
/心拍解析に使用する論文.gdoc
/2024visitor.xlsx.gdrive
/データ表.xlsx
/文献登録したもの.gdoc
/月例報告
/BITalinoHMLTPnp20250420-164659.csv
/opensignals_98D341FE18F9_2024-12-17_15-44-00.h5
/ipsj87
/企業
/Figure_1.png
/Chrome から保存
/image.jpg
/image (1).jpg
/image (2).jpg
/image (3).jpg
/image (4).jpg
/画像1.png
/研究指導計画書_草案.gdoc
/2次元回帰モデル
/emoco.ipynb
/課題.ipynb
/中間報告
/df_with_labels.zip
/download_data
/添削
/時野谷_被験者応募ポスター.pptx
/データ収集
/研究室見学用.xlsx
/実験
/出勤表
/生体信号とラベル
/人求
/desktop.ini